@import "./variables.scss";

.hero_container{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 145px 0 100px 0;
    gap: 30px;

    .hero_content{
        width: 500px;
        display: flex;
        flex-direction: column;

        h1{
            font-family: $heading;
            font-size: 56px;
            margin: 0;
            color: $white;
        }
        p{
            color: $white;
            font-family: $para;
        }
        button{
            font-family: $heading;
            color: $white;
            border: 2px solid $white;
            background-color: transparent;
            padding: 12px 25px;
            font-size: 16px;
            border-radius: 50px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover{
                background-color: $secondary;

            }
        }
    }

    .hero_img{
        width: 400px;
        img{
            width: 100%;
        }
    }


    .element{
        position: absolute;
        width: 761px;
        left: -103px;
        transform: rotate(6deg);
        z-index: -1;
        img{
            width: 100%;
        }
    }
}


.about_container{
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: $white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;

    h1{
        color: $primary;
        font-family: $heading;
        font-size: 36px;
    }

    p{
        font-family: $para;
        color: $primary;
        font-weight: 500;
        width: 75%;

    }

    .element{
        position: absolute;
        width: 761px;
        left: -103px;
        transform:  rotate(187deg) translateX(-137px)
        z-index: 0;
    opacity: 0.3;
        img{
            width: 100%;
        }
    }
}