@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://db.onlinewebfonts.com/c/1dc7840abb13fcda12aa8d1cb21fb832?family=Agrandir');
 
 
 
 $primary : #673AB7;
 $secondary : #522E93;
 $dark : #1C1C1C;
 $white : #ffff;
 $para : "Quicksand";
 $heading : "Agrandir";
 $regular : 400;
 $bold : 700;
 $semi_bold : 600;
 $medium : 500;
